<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{error.title}}</title>
  <link rel="icon" type="image/x-icon" href="icon.png">
<link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="theme-switch-wrapper">
    <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox"/>
        <div class="slider round"></div>
  </label>
  <p id="themeinfo">{{themes.unset}}</p>
</div>

<p class="info" id="info">{{error.context}}</p>

    <script src="script.js"></script>
</body>
</html>